* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(238, 70, 70);
}
/* homepage */
.h1-menu {
    font-family: 'Pacifico', cursive;
}
.homepage h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color:white;
    font-family: 'Pacifico', cursive;
    font-size:40px;
}

.whole-page{
    margin: 5px;
}

.buttons {
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    margin: 5px;
}

.buttons:hover {
    background-color:rgb(230, 163, 163)
}






