* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

.header {
    height: 0px;
    padding: 10px;
    display: flex;
    align-content: center;
    background-color: #F2E3DB;
}

.header__logo {
    color: #263A29;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.hero>.container {
    height: 100%;
}

.nav__buttons {
    color: #263A29;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color: #F2E3DB;

}

a {
    text-decoration: none;
}

a:visited {
    color: #263A29;
}

a:hover {
    color: #168627
}

body {
    background-color: #ffffff;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #263A29;
    font-size: 50px;
    text-align: center;
}

/* first page hero */
.hero {
    background-color: #ffffff;
}

.hero__title {
    font-size: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.body {
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
    margin-top: 20px;
}

.menu-box {
    border: solid 5px rgb(238, 142, 142);
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    text-align: center;
    justify-content: center;
}

/* order page */
.orderpage_items{
    display: inline-block;
    text-align:left;
    vertical-align: middle;
    margin: 10px;
}


.text {
    text-align:center;
    font-size: 20px;
    line-height: 1.6;
    margin: auto;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
/* new user page */
.new_user {
    text-align: center; 
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-left: 300px;
    margin-right: 400px;
}

.form-group label {
    flex: 1; 
    text-align: right; 
    padding-right: 10px; 
}

.form-group input,
.form-group textarea {
    flex: 2; 
    width: 30%; 
}


.new_user_button {
    display: flex;
    justify-content: center;
}
.delete_user_button {
    display: flex;
    justify-content: center;
}

img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.buttons {
    border-radius: 10px;
    padding: 5px 30px;
    border: none;
    margin: 10px;
    background-color: rgb(255, 137, 137);
    color: white;
}

.buttons:hover {
    background-color: #FF6666
}

/* the delete modal */
.cancelbtn,.deletebtn {
    float: center;
    width: 30%;
    border-radius: 10px;
    border: none;
    padding: 5px 15px;
    background-color: #f44336;
    color: white;
}

.cancelbtn {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #b7b7b7;
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    display: flex;
    align-items: center;
    border: 1px solid #000;
    width: 60%;
    height: 200px;
}

/* Style the horizontal ruler */
hr {
    width: 30%;
    border: 1px solid #000;
    margin-bottom: 25px;
    margin: auto;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* .popular_icon {
    width: 2%;
    position: relative;
    padding-right: 250px;
    top: 30px
} */
