* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
}

.header {
    height: 50px;
    display: flex;
    align-content: center;
}

.header__logo {
    color: #263A29;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}

.hero>.container {
    height: 100%;
}

.nav__buttons {
    color: #263A29;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

a:visited {
    color: #263A29;
}

a:hover{
    color:#168627
}

body {
    background-color: #F2E3DB;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #263A29;
    font-size: 50px;
    text-align: center;
}

/* first page hero */
.hero {
    background-color: #FFCCCC;
}

.hero__title {
    font-size: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.body {
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
}

.menu-box {
    border: solid 5px rgb(238, 142, 142);
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    justify-content: center;
}


.text {
    text-align: center;
    font-size: 20px;
    line-height: 1.6;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.new_user_button {
    display: flex;
    justify-content: center;
}

img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.buttons {
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    margin: 5px;
    background-color: rgb(255, 137, 137);
    color: white;
}

.buttons:hover {
    background-color: #FF6666
}