<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ying & Paddy's Bao</title>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Caprasimo&family=Pacifico&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    {# header logo / home link #}
    <header class="header">
        <div class="container">
            <a href="/" class="logo" title="back to home" style="text-decoration: none">
                <span class="header__logo"></span>
                <p class="header__logo">Home</p></span>
            </a>
        </div>
    </header>
    <main>
        <nav class="nav__buttons">
            {# links: menu, user input/submit order, kitchen buttont #}
            <a href='/items' style="text-decoration: none">Menu</a>
            <a href="/orders/new" style="text-decoration: none">Order Food</a>
            <a href="/users" style="text-decoration: none">Manage My Account</a>
            <a href="/hot" style="text-decoration: none">What's HOT</a>

        </nav>
        <section id="content">
            <div>
                {% block content %}

                {% endblock content %}

        </section>
    </main>
</body>


</html>