{% extends 'base.jinja' %}

{% block content %}
<section class="hero">
    <div class="container hero__wrapper">
        <h1 class="hero__title">Welcome to Ying and Paddy's Bao Restaurant</h1>

        <img src="static/images/beepbeep.png" alt="beepbeep">
        <div class="button-wrapper">
            <button onclick="location.href='/users/add';" class="buttons">New User</button>
            <button onclick="window.location.href='/orders/new';" class="buttons">Order Now</button>
        </div>
    </div>
</section>
{% endblock content %}