{% extends 'base.jinja' %}
{% block content %}
<div>
<h1>Edit Your Order</h1>
</div>
<form action="/users/{{user.id}}/my_order}}" method="post">
<div>
<label for=""></label>
{% for  in  %}
    
{% endfor %}
</div>
</form>
{% endblock content %}