{% extends 'base.jinja' %}
{% block content %}
<h1>Most Popular Food</h1>
<section class="body">
    {% for item, total_quantity in popular_items %}
    <ul>
        <li>{{item.name}} - {{total_quantity}}</li>
    </ul>

{% endfor %}
</section>
{% endblock content %}