{# {% extends 'base.jinja' %}
{% block content %}
<h1>Most Popular Food</h1>
{% for item in items|unique %}

    {% for user in ordered_users %}
        
    
<ul>
    <li>{{item.name}}: {{user.name }}</li>
</ul>
{% endfor %}
{% endfor %}
{% endblock content %} #}

{% extends 'base.jinja' %}
{% block content %}
    <h1>Most Popular Food</h1>
    {% for item in items %}
    <ul>
    <li>{{item.name}}: {{item.total_orders}}</li>
    </ul>
        
    {% endfor %}
{% endblock content %}