{# create new order page #}
{% extends 'base.jinja' %}
{% block content %}
<h1>Add New Order</h1>
<section class="body">
<form action="/orders/new" method="post">
    <div>
        <label for="user_id">Select Your Account</label>
        <select name="user_id" id="user_id" required>
            {% for user in users %}
            <option value="{{user.id}}">{{ user.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        {% for item in items %}
        <input type="checkbox" name="{{item.id}}" value="{{ item.id }}" multiple>
        <label for="{{item.id}}">{{item.name}}: £{{item.price}}</label>
        <input type="number" id="{{item.id}}_quantity" name="{{item.id}}_quantity" min="1" max="5">
        <br>
        {% endfor %}
    </div>
    <div>
        <label for="notes">
            <textarea name="notes" id="notes" type="text"
                placeholder="Please leave your special requirements. e.g. 'Less sugar'" rows="3" cols="50"></textarea>
        </label>
        <button type="submit" class="buttons">Place Order</button>
    </div>
</form>
</section>
{% endblock content %}