{% extends 'base.jinja' %}
{% block content %}
{# order = Order.query.get(id)
    orderitems = OrderItem.query.filter_by(order_id = id) #}
{# history 
user = User.query.get(id)
    orders = Order.query.filter_by(user_id = id)
    {% for order in user.orders %} #}
    Order Number: {{order.id}} 
    {{order.user_id.name}}
{% for orderitem in order.items %}
<ul>
<li>{{orderitem.item.category}}: {{orderitem.item.name}}-----£{{orderitem.item.price}}</li>

{% endfor %}

<li>Notes: {{order.notes}}</li>
<li>Phone Number: {{order.user.phone}}</li>
<li>Address: {{order.user.address}}</li>
</ul>

<form action="/orders/{{order.id}}/delete" method="POST">
    <input class="delete--danger" type="submit" value="Delete">
</form>


{% endblock content %}