{# menu page #}
{% extends 'base.jinja' %}

{% block content %}
<h1>Menu</h1>

{% for item in items %}
<ul style="list-style-type:none;">
    <li>{{item.name}}: £{{item.price}}</li>
</ul>
{% endfor %}
{% endblock content %}