{# menu page #}
{% extends 'base.jinja' %}

{% block content %}

    <h1>Menu</h1>
<div class="menu-box">
    {% for item in items %}
    <ul style="list-style-type:none;">
{% if  item.category == "Bao" %}
    <span>&#129377;</span>

{% elif item.category == "Noodles" %}
    <span>&#127836;</span>
{%else%}
    <span>&#129483;</span>
{% endif %}

        <li>{{item.name}}: £{{item.price}}</li>
    </ul>
    {% endfor %}
</div>
{% endblock content %}