{# display one order by select one user, user can edit and delete items in the order#}
{# route: users/<id>/history #}
    {% extends 'base.jinja' %}
    {% block content %}
    <h1>{{user.name}}'s Order</h1>

    {# user info loop #}
    {% for order in user.orders %}
    <p class="text">Order Number: {{order.id}}</p>
    {# order info loop#}
    {% for order_item in order.items %}
    <ul style="list-style-type:none;">
        <li><p class="text">{{order_item.item.category}}: {{order_item.item.name}} ----- Price: £{{order_item.item.price}}</p></li>

    </ul>
    {% endfor %}
    <ul style="list-style-type:none;" class="show_user_info">
        <li><b><p class="text">Notes:</b> {{order.notes}}</p></li>
        <li><b><p class="text">Phone Number:</b> {{user.phone}}</p></li>
        <li><b><p class="text">Address:</b> {{user.address}}</p></li>
    </ul>
    {% endfor %}
    {% endblock content %}