{# create new order #}
{% extends 'base.jinja' %}
{% block content %}
<h1>Order Your Food</h1>
<form action="/users" method="post">
    <div>
        <label for="order_user">Select Your Account</label>
        <select name="" id="" required>
            {% for user in users %}
                <option value="{{user.id}}">{{ user.name }}</option>
            {% endfor %}    
        </select>
        <label for="order_main">Main</label>
        <select id="order_main"
                name="order_main"
                required>
                    {% for item in items %}
                        <option value="{{item.id}}">{{ item.name }}</option>
                    {% endfor %}
                </select>
    </div>

</form>

{% endblock content %}