{# user page link to user's order #}
{% extends 'base.jinja' %}
{% block content %}

<div class="userlist">
    {% for user in users %}
    <ul style="list-style-type:none;">
        <a href="/users/{{user.id}}/my_orders"><li>{{user.name}}</li></a>
    </ul>
    {% endfor %}
</div>

{% endblock content %}