{% extends 'base.jinja' %}
{% block content %}
<h1>Create New Account</h1>
<form action="/users/add" method="post">
    <label for="name" >Your Name</label>
    <input type="text" name="name" id="name">
    <label for="phone" >Phone</label>
    <input type="number" name="phone" id="phone">
    <label for="address">Address</label>
    <textarea rows="2" cols="50" name="address" id="address"></textarea>
<button type="submit">Confirm</button>
</form>

{% endblock content %}