{% extends 'base.jinja' %}
{% block content %}
<h1>Create New Account</h1>
<section class="body">
    <div class="new_user">
        <form action="/users/add" method="post">
            <span><label for="name">Your Name</label></span>
<span><input type="text" name="name" id="name"></span>
            <span><label for="phone">Phone</label></span>
                <span><input type="number" name="phone" id="phone"></span>
            <span><label for="address">Address</label>
                <span><textarea rows="2" cols="50" name="address" id="address"></textarea></span>
            <button type="submit" class="buttons">Confirm</button>
        </form>
    </div>
</section>
{% endblock content %}