{# display one order by select one user, user can edit and delete items in the order#}
{% extends 'base.jinja' %}
{% block content %}
<h1>{{user.name}}'s Order</h1>


{% for order in user.orders %}
<h3>Order Number: {{order.id}}</h3>
{% for order_item in order.items %}
<ul style="list-style-type:none;">
<li>{{order_item.item.category}}: {{order_item.item.name}}</li>
<li>Total: £{{order_item.item.price}}</li>
</ul>

<ul style="list-style-type:none;">
<li >Notes: {{order.notes}}</li>
<li>Phone Number: {{user.phone}}</li>
<li>Address: {{user.address}}</li>
</ul>
{% endfor %}
{% endfor %}
{% endblock content %}
